[submodule "saleor-dashboard"]
	path = saleor-dashboard
	url = https://github.com/mirumee/saleor-dashboard.git
[submodule "saleor"]
	path = saleor
	url = https://github.com/ilovejs/saleor
	branch = milestone-1
